Adafruit-Blinka==8.66.2
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-pca9685==3.4.20
adafruit-circuitpython-register==1.11.1
adafruit-circuitpython-requests==4.1.14
adafruit-circuitpython-typing==1.12.2
Adafruit-PlatformDetect==3.84.1
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.9.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
Flask==3.1.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
MarkupSafe==3.0.3
numpy==2.3.4
pycparser==2.23
pydub==0.25.1
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
simpleaudio==1.0.4
sounddevice==0.5.3
soundfile==0.13.1
sysv_ipc==1.1.0
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3
